@model MVCProject_Iqbal.Models.Teacher
<table style="font-family:Arial; border:2px solid black; width: 300px">
    <tr>
        <td>
            <table>
                <tr>
                    <td><b>Teacher Name:</b></td>
                    <td>@Model.TeacherName</td>
                </tr>
                <tr>
                    <td><b>Email:</b></td>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <td><b>Cell Phone:</b></td>
                    <td>@Model.CellPhone</td>
                </tr>
                <tr>
                    <td><b>Contact Address :</b></td>
                    <td>@Model.ContactAddress</td>
                </tr>
            </table>
        </td>
    </tr>
</table>

