
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_HomeLayout</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- animate css -->
    <link rel="stylesheet" href="~/LinkFile/HomeLayout/css/animate.min.css">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/LinkFile/HomeLayout/css/bootstrap.min.css">
    <!-- font-awesome -->
    <link rel="stylesheet" href="~/LinkFile/HomeLayout/css/font-awesome.min.css">
    <!-- google font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,800' rel='stylesheet' type='text/css'>

    <!-- custom css -->
    <link rel="stylesheet" href="~/LinkFile/HomeLayout/css/templatemo-style.css">

</head>


<body>
    <!-- start preloader -->
    <div class="preloader">
        <div class="sk-spinner sk-spinner-rotating-plane"></div>
    </div>
    <!-- end preloader -->
    <!-- start navigation -->
    <nav class="navbar navbar-default navbar-fixed-top templatemo-nav" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">IsDB-BISEW</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right text-uppercase">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#pricing">Pricing</a></li>
                    <li><a href="#contact">Contact</a></li>



                    @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Index", "Roles", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@

                </ul>

            </div>
        </div>
    </nav>
    <!-- end navigation -->
    <!-- start home -->
    <section id="home">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 wow fadeIn" data-wow-delay="0.3s">
                        <h1 class="text-upper">Trainee Management System</h1>
                        <p class="tm-white">The Islamic Development Bank-Bangladesh Islamic Solidarity Educational Wakf (IsDB-BISEW) was established in 1987 following an agreement between the Islamic Development Bank and the Government of Bangladesh. IsDB-BISEW undertakes funding, formulating and implementing of programmes in the areas of education, developing human resources and strengthening educational institutions. <a rel="nofollow" href="http://www.facebook.com/templatemo" target="_parent"></a>. Images by <a rel="nofollow" href="http://pixabay.com" target="_blank">IsBD-BISEW</a></p>
                        <img src="~/LinkFile/HomeLayout/images/idb-bisew.png" class="img-responsive" alt="home img">
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- end home -->
    <!-- start pricing -->
    <section id="pricing">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow bounceIn">
                    <h2 class="text-uppercase">Our Pricing</h2>
                </div>
                <div class="col-md-4 wow fadeIn" data-wow-delay="0.6s">
                    <div class="pricing text-uppercase">
                        <div class="pricing-title">
                            <h4>Basic CF</h4>
                            <p>$11</p>
                            <small class="text-lowercase">monthly</small>
                        </div>
                        <ul>
                            <li>Microsoft Word</li>
                            <li>Microsoft Excel</li>
                            <li>Microsoft PowerPoint</li>
                            <li>Microsoft Access</li>
                        </ul>
                        <button class="btn btn-primary text-uppercase">Sign up</button>
                    </div>
                </div>
                <div class="col-md-4 wow fadeIn" data-wow-delay="0.6s">
                    <div class="pricing active text-uppercase">
                        <div class="pricing-title">
                            <h4>C#.NET Plan</h4>
                            <p>$22</p>
                            <small class="text-lowercase">monthly</small>
                        </div>
                        <ul>
                            <li>Microsoft SQL</li>
                            <li>ASP.NET MVC C#</li>
                            <li>ASP.NET MVC Core</li>
                            <li>HTML Javascript and CSS</li>
                        </ul>
                        <button class="btn btn-primary text-uppercase">Sign up</button>
                    </div>
                </div>
                <div class="col-md-4 wow fadeIn" data-wow-delay="0.6s">
                    <div class="pricing text-uppercase">
                        <div class="pricing-title">
                            <h4>GAVE Plan</h4>
                            <p>$33</p>
                            <small class="text-lowercase">monthly</small>
                        </div>
                        <ul>
                            <li>3D Layer Design</li>
                            <li>Adobe Illustrator</li>
                            <li>Adobe Photoshop</li>
                            <li>Lifetime Support</li>
                        </ul>
                        <button class="btn btn-primary text-uppercase">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end pricing -->
    <!-- start contact -->
    <section id="contact">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                        <h2 class="text-uppercase">Contact Us</h2>
                        <p>
                            IsDB-BISEW IT Scholarship Programme
                            Currently in its sixteenth year of operation, the IsDB-BISEW IT Scholarship Programme offers professional grade IT training absolutely free of cost.
                        </p>
                        <address>
                            <p>
                                <i class="fa fa-map-marker"></i>House 2/5A (3rd Fl), Road 5, Block A, Dhaka, 1207. Bangladesh
                            </p>
                            <p><i class="fa fa-phone"></i> 010-010-0110 or 020-020-0220</p>
                            <p><i class="fa fa-envelope-o"></i> info@company.com</p>
                        </address>
                    </div>
                    <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="contact-form">
                            <form action="#" method="post">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Name">
                                </div>
                                <div class="col-md-6">
                                    <input type="email" class="form-control" placeholder="Email">
                                </div>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" placeholder="Subject">
                                </div>
                                <div class="col-md-12">
                                    <textarea class="form-control" placeholder="Message" rows="4"></textarea>
                                </div>
                                <div class="col-md-8">
                                    <input type="submit" class="form-control text-uppercase" value="Send">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @RenderBody()
    <!-- end contact -->
    <!-- start footer -->
    <footer>
        <div class="container">
            <div class="row">
                <p>Copyright © 2020 IsDB-BISEW</p>
            </div>
        </div>
    </footer>
    <!-- end footer -->

    <script src="~/LinkFile/HomeLayout/js/jquery.js"></script>
    <script src="~/LinkFile/HomeLayout/js/bootstrap.min.js"></script>
    <script src="~/LinkFile/HomeLayout/js/wow.min.js"></script>
    <script src="~/LinkFile/HomeLayout/js/jquery.singlePageNav.min.js"></script>
    <script src="~/LinkFile/HomeLayout/js/custom.js"></script>
</body>
</html>
